<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Nosotros</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>¡Cuidado experto a solo una llamada de distancia! En La Enfermería, nos enorgullece ofrecer atención médica de alta calidad 
          en la comodidad de tu hogar. Nuestro equipo de enfermeras altamente capacitadas está listo para brindarte el cuidado 
          y la tranquilidad que mereces..</p>
      </div>
      <div class="col-lg-4">
        <p>En nuestro servicio, entendemos la importancia de la confianza y la comodidad. 
          Nos aseguramos de que te sientas tranquilo y seguro en cada visita, brindándote atención personalizada 
          y adaptada a tus necesidades específicas.</p>
      </div>
<!--      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>  -->
    </div>
  </div>
</section>
